<div class="top">
    <div class="logo">
        <img src="../images/logo.png" alt="">
        <h2>Firma<span class="danger">Ad</span></h2>
    </div>

    <div class="close" id="close-btn">
        <span class="material-symbols-outlined">close</span>
    </div>
</div>
<div class="sidebar">
    <a asp-controller="Dashboard" asp-action="Index">
        <span class="material-symbols-outlined">dashboard</span>
        <h3>Dashboard</h3>
    </a>
    <a asp-controller="User" asp-action="Index" class="active">
        <span class="material-symbols-outlined">person</span>
        <h3>Users</h3>
    </a>
    <a asp-controller="Category" asp-action="Index">
        <span class="material-symbols-outlined">orders</span>
        <h3>Category</h3>
    </a>
    <a asp-controller="Sales" asp-action="Index">
        <span class="material-symbols-outlined">monitoring</span>
        <h3>Analytics</h3>
    </a>
    <a href="#">
        <span class="material-symbols-outlined">mail</span>
        <h3>Messages</h3>
        <span class="message-count">26</span>
    </a>
    <a href="#">
        <span class="material-symbols-outlined">inventory_2</span>
        <h3>Products</h3>
    </a>
    <a href="#">
        <span class="material-symbols-outlined">report</span>
        <h3>Reports</h3>
    </a>
    <a href="#">
        <span class="material-symbols-outlined">settings</span>
        <h3>Settings</h3>
    </a>
    <a href="#">
        <span class="material-symbols-outlined">add</span>
        <h3>Add Product</h3>
    </a>
    <a href="#">
        <span class="material-symbols-outlined">logout</span>
        <h3>Logout</h3>
    </a>
</div>
