<div class="sidebar">
    <a asp-controller="Profile" asp-action="Index">
        <span class="material-symbols-outlined">person</span>
        <h3>Profilim</h3>
    </a>
    <a asp-controller="Profile" asp-action="myMeets">
        <span class="material-symbols-outlined">notes</span>
        <h3>aktif randevular</h3>
    </a>
    <a asp-controller="Profile" asp-action="pastMeets">
        <span class="material-symbols-outlined">description</span>
        <h3>geçmiş randevular</h3>
    </a>
    <a asp-controller="Profile" asp-action="AddressInformation">
        <span class="material-symbols-outlined">home</span>
        <h3>adres</h3>
    </a>
    <a asp-controller="Profile" asp-action="settings">
        <span class="material-symbols-outlined">person</span>
        <h3>Account Settings</h3>
    </a>
    <a asp-controller="Profile" asp-action="configureOrder">
        <span class="material-symbols-outlined">add</span>
        <h3>Üyeliği Onayla</h3>
    </a>
</div>
