@model CompanyDtoForUpdate


<div class="profile">
    <aside>
        <partial name="_profileSideBar" />
    </aside>

    <div class="profile_left">
        <form asp-action="companyUpdate" method="post" enctype="multipart/form-data">

            <label asp-for="companyName"></label>
            <input asp-for="companyName" class="form-control" />
            <p>&nbsp;</p>
            <div class="form-group my-3">
                <label asp-for="CompanyLogo"></label>
                <input name="file" type="file" class="form-control" />
            </div>

            <div class="form-group my-3">
                <label asp-for="categoryId">Category Name</label>
                <select class="form-control" asp-for="categoryId" asp-items="@ViewBag.Categories">
                </select>
            </div>
            <input type="hidden" asp-for="companyID">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Update
            </button>

        </form>
    </div>

</div>