@model IEnumerable<Company>


<div class="profile">
    <aside>
        <partial name="_profileSideBar" />
    </aside>

    <div class="profile_left">
        @if (Model != null && Model.Any())
        {
            @foreach (Company company in Model)
            {
                <img src="@company.CompanyLogo" />
                <h1>@company.companyName</h1>
                <h1>@company?.category?.CategoryName</h1>
                <a asp-controller="Profile" asp-action="companyUpdate" asp-route-id="@company?.companyID">Firma Bilgileri
                    Düzenle</a>
            }

        }
        else
        {
            <a asp-controller="Profile" asp-action="createCompany">Firma Bilgileri Ekle</a>
        }
    </div>

</div>