:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #262949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Patrick Hand', sans-serif;
    background-color: #888888;
}

/* Header */
header {
    background-color: #e6e6e6;
    color: #888888;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 100px;
}


nav {
    flex: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    display: inline-flex;
    gap: 50px;
}

nav ul li {
    font-size: 34px;
}

nav ul li a {
    color: #888888;
    text-decoration: none;
    font-family: 'Patrick Hand', sans-serif;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #64b5f6;
}

/* Butonlar */
.auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-buttons button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #888888;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Patrick Hand', sans-serif;
}

.auth-buttons button:hover {
    background-color: #64b5f6;
}

/* İçerik Bölümü */
.content-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
}

.content-section div {
    width: 48%;
    position: relative;
}

.content-section img {
    width: 100%;
    border-radius: 10px;
}

.content-section button {
    font-family: 'Patrick Hand', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 30px;
    background-color: #888888;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.content-section button:hover {
    background-color: #64b5f6;
}


.partners-section {
    text-align: center;
    padding: 80px 60px;
    background-color: #e6e6e6;
}

.partners-section h2 {
    font-size: 42px;
    font-family: 'Patrick Hand', sans-serif;
    color: #4a4a4a;
    margin-bottom: 40px;
}

.partners-logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    display: flex;
    overflow: hidden;
    width: 800px;
}

.logos img {
    width: 250px;
    margin: 0 30px;
}

.arrow {
    background-color: #4a4a4a;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 30px;
}

.about-section,
.contact-section {
    padding: 40px 20px;
    background-color: white;
    text-align: center;
}

.about-section h2,
.contact-section h2 {
    font-size: 42px;
    font-family: 'Patrick Hand', sans-serif;
    color: #4a4a4a;
}

footer {
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    padding: 20px;
}

.profile {
    display: flex;
}

.profile aside {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 60vh;
    position: relative;
}

aside .sidebar a {
    text-decoration: none;
    display: flex;
    color: var(--color-info-light);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

.profile_left {
    flex: 7;
    border: 1px solid black;
    padding: 20px;

}