<div class="text-center text-danger my-5">
    <h3 class="display-3">
     <i class="bi bi-bug"></i>
        <br />
        Erişim Engellendi
    </h3>
</div>

<div class="text-center">
    <div class="lead">
        Bu sayfaya erişiminiz yok yöneticiyle iletişime geçiniz!
    </div>

    <div class="btn-group my-5">
        <a class="btn btn-outline-primary rounded" asp-action="Index" asp-controller="Home">Anasayfa</a>
        <a class="btn btn-primary rounded" asp-action="Login" asp-controller="Account">Giriş yap</a>
    </div>
</div>