@model IEnumerable<Category>

<div class="my-4">
    <ul class="list-group">
        <li class="list-group-item"><b>Kategoriler</b></li>
        @foreach (var cat in Model)
        {
            <a asp-controller="firmalar" asp-action="kategori" asp-route-id="@cat.CategoryName">
                <li class="list-group-item ">
                    @cat.CategoryName?.ToUpper()
                </li>
            </a>
        }
    </ul>
</div>




